# =========================================
# MinGW & Compiler Specifics
# =========================================
*.gch
*.plist
*.gcno
*.gcda
*.tlog

# =========================================
# Qt Linguist & Resource Compiled Files
# =========================================
# File terjemahan (biasanya kita cuma simpan .ts, bukan .qm yang sudah jadi binary)
*.qm
# Resource files yang digenerate otomatis
qrc_*.cpp
ui_*.h
moc_*.cpp
moc_predefs.h

# =========================================
# Clang / Static Analysis Tools
# =========================================
.clang-format
.clangd/
.cache/

# =========================================
# Git / Patch files
# =========================================
*.orig
*.rej
*.patch
